@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Jost', 'Times New Roman', Times, serif;
    min-width: auto;
    min-height: 100%;
 }

h2, h3, h4, h5 {
    font-family: 'Jost', 'Times New Roman', Times, serif;
    font-weight: 600;
}

.brand-logo {
    display: flex;
}

.brand-logo img {
    width: 50px;
    height: 50px;
    margin-top: .7rem;
}

.background {
    background: linear-gradient(to right, rgba(20, 20, 20, 0.511) 20%,
    rgba(15, 15, 15, 0.531)), url(https://images.unsplash.com/photo-1444418776041-9c7e33cc5a9c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvZmZlZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=60);
   
}

.parallax-container {
    min-height: 60vh;
    height: auto;
}

.parallax {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.7) 40%,
    rgb(255, 255, 255, 0.3)), url(https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1250&q=80);
    background-size: cover;
   
}

.parallax-container .section {
   width: 100%;
}

#nav-mobile li a.activePage {
    border-bottom: 4px solid #FFB835;
    color: #FFB835;
    font-weight: 700;
    font-size: 17px;
}

#nav-mobile li a { 
    color: #3B3B3B;
}

#nav-mobile li a:active,
#nav-mobile li a:hover {
    color: #FFB835;
}

.subTitle {
    display: inline-block;
    border-bottom: 4px solid rgb(15, 128, 143);
}

.title {
    margin-top: -5px;
}

.header {
    margin-top: -5rem;
    text-align: end;
}

.header span {
    right: 10%;
}


.page-footer .footer-copyright .container {
    color: #3B3B3B; 
}

.page-footer {
    display: flex;
    height: 80px;
}

.page-footer .footer-copyright {
    width: 100%;
}

.typing {
    position: absolute;
    font-size: 2rem;
    color: rgb(15, 128, 143);
}

.typing::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    border-right: 4px solid #000;
    animation: blink 1s infinite ease-in-out;
}

.icon {
    width: 35px;
}

#submit {
    padding: 10px 4rem;
    font-size: 1rem;
    align-self: center;
    border-radius: 30px;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(3, 3, 3);
    outline: none;
    text-decoration: none;
    margin-top: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#submit:hover, 
#submit:focus, 
#submit:active {
    background-color:rgb(0, 0, 0);
    color: white;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* home */

#aboutMe {
    width: 80vw;
}

#skill {
    width: 90vw;
    margin-bottom: -10px;
}

.socialMedia ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* skills */
.skills .material-icons {
    font-size: 40px;
    color: #B05E4F;
}

/* portfolio */

.card-image img{
    height: 250px;
}

.card-reveal {
    text-align: left;
}

.card-title.activator {
    font-size: 18px;
}

.card-reveal .card-title {
    margin-bottom: -15px;
    color:#B05E4F;
}

.demo {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}

.demo a {
    color: #000;
}

.demo:hover {
    background-color: rgba(156, 156, 156, 0.192);
}

/* thanks page */
.thanks-container {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.thanks-container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks-container .text span {
    font-size: 20px;
    margin: 20px;
}

.thanks-container .text span a {
    color:#B05E4F;
}



/************************
  Media Queries
************************/
@media only screen and (max-width: 400px){
    .header {
        padding: 1rem;
    }
    .card-image img{
        height: 220px;
    }
    .skills h3 {
        margin-top: 10px;
    }
  
    .brand-logo img{
        width: 45px;
        margin-top: .3rem;
    }
    .thanks-container {
        font-size: 16px;
    }
   
    .typing {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 900px) {
    #aboutMe {
        width: 75vw;
    }

    .container {
        width: 80vw;
    }

    .card-image img{
        height: 250px;
    }
}

@media only screen and (max-width: 900px) {
    .brand-logo img {
        margin-top: .3rem;
    }
}